
body{
    margin: 0%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(240, 240, 240);
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
img{
    max-width: 45%;
    max-height: 45%;
    padding-left: 10%;
}
h4{
    font-size: 40px;
}
li{
    text-decoration: none;
    list-style: none;
    font-size: large;
}
